:root{
    --bg-black-1: #363940;
    --bg-black-2: #53575d;
    --text-white-1: #f0fff3;
    --text-white-2: #ffb423;
    --text-white-3: #49a9b6;
}

*{
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.hidden{
    display: none !important;
}

h2{
    font-size: 15px;
}

a:hover{
    color: var(--text-white-2);
    transform: scaleX(5px);
}

a{
    font-size: 15px;
    color: var(--text-white-3);
    margin-left: 10px;
    transition: 1s;
}

body{
    background: var(--text-white-1);
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    min-height: 100vh;
}

.header{
    background: var(--bg-black-2);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    padding: 30px;
    color: var(--text-white-3);
    border-bottom: 1px solid var(--bg-black-1);
}

.blog{
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    min-height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--bg-black-1);
}

.blog .container{
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

}

.footer{
    background: var(--bg-black-2);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    padding: 30px;
    color: var(--text-white-2);
}

.header .title{
    display: flex;
}

.header .title p{
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 10px;
    color: var(--text-white-2)
}

.header .title a{
    color: var(--text-white-2);
}

.header .user{
    margin: 5px;
    display: flex;
    align-items: center;
}

.header .user h2{
    color: var(--text-white-1);
    margin-left: 5px;
    font-size: 16px;
}

.header .user .decon{
    margin-left: 10px;
}

.header .user .inscricon{
    margin-left: 10px;
    margin-right: 10px;
}

.header .user .panier{
    display: flex;
    margin-left: 5px;
    margin-right: 20px;
}

.fav-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.container .article{
    cursor: pointer;
    border: 1px solid var(--bg-black-2);
    height: 310px;
    width: 230px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: block;
}

.container .detail{
    cursor: pointer;
    border: 1px solid var(--bg-black-2);
    height: 400px;
    width: 350px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: block;
}

.container .cart{
    width: 400px;
    height: fit-content;
    cursor: pointer;
    padding: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.article .fav-btn{
    display: flex;
    justify-content: flex-end;
}

.article .image{
    height: 50%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-top: 5px;
}

.article .desc{
    word-spacing: 3px;
}

img{
    width: 100%;
    height: 100%;
}

.article .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.article .details p{
    color: var(--text-white-2);
    font-size: 20px;
    margin-bottom: 10px;
}

.article .details .panier{
    color: var(--text-white-2);
    font-size: 25px;
    margin-bottom: 10px;
}

.blog .rech{
    padding: 12px;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 17.5rem;
    height: 40px;
    border-radius: 25px;
    border: 1px solid var(--bg-black-1);
}

.rech .search{
    border: none;
    color: var(--bg-black-2);
    background: none;
    font-size: 14px;
}

.rech input{
    outline: none;
    border: none;
}

.rech a:hover{
    color: var(--text-white-2);
}

.rech input:hover{
    border: none;
    color: var(--bg-black-2);
    background: none;
    font-size: 14px;
}

.supp{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--text-white-2);
    color: var(--text-white-2);
    background-color: var(--text-white-1);
}

.supp:hover{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--text-white-1);
    color: var(--text-white-1);
    background-color: var(--text-white-3);
}

.container .login{
    background: var(--text-white-3);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    min-width: 350px;
    min-height: 150px;
}

.titre{
    margin-right: 25px;
    color: var(--text-white-1);
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
}

.form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form div label{
    margin-bottom: 10px;
    color: var(--bg-black-1);
}

.form div input{
    outline: none;
    border: none;
    background: var(--text-white-3);
    border-bottom: 1px solid var(--text-white-1);
    height: 20px;
    color: var(--text-white-1);
    font-size: 16px;
    padding-bottom: 5px;
}

.form .btn{
    color: var(--text-white-1);
    background: var(--bg-black-2);
    border: 1px solid var(--text-white-1);
    width: 50%;
    height: 40px;
    border-radius: 15px;
    font-size: 16px;
    transition: 1.5s;
}

.btn:hover{
    background: var(--text-white-1);
    border: 1px solid var(--bg-black-2);
    border-radius: 15px;
    font-size: 16px;
    color: var(--bg-black-2);
}

.footer .p{
    margin-right: 10px;
}